#window {
    position: relative;
    overflow: hidden;
}

#canvas_map {
    background-image: url('./../images/background-4.png');
    background-position:;
    border: 3px solid black;
    position: relative; 
    left: 0; 
    top: 0; 
    z-index: 0;
}

#canvas_personnage {
    border: 3px solid black;
    position: absolute; 
    left: 0; 
    top: 0; 
    z-index: 0;
}
